In [1]:
from bs4 import BeautifulSoup
import requests as rq
import time
import pandas as pd
from sqlalchemy import create_engine

In [2]:
def get_data():
    page=1
    all_coins = {}
    while True:
        web_page = rq.get(f'https://coinmarketcap.com/?page={page}').content
        soup = BeautifulSoup(web_page)
        the_row = soup.find_all("tr")[1:]
        if len(the_row)==0:
            break
        for a_row in the_row:
            try:
                coin_name_tags = a_row.find_all('p',class_='iworPT')
                if len(coin_name_tags)>0:
                    coin_name = coin_name_tags[0].getText()
                else:
                    coin_name = a_row.find_all('span')[3].getText()
            except Exception as e:
                print(e)

            try:
                coin_value_tags = a_row.find_all('a',class_='cmc-link')
                if len(coin_value_tags)==4:
                    coin_value = a_row.find_all('a',class_='cmc-link')[1].find('span').getText()
                elif len(the_row)==1:
                    coin_value = a_row.find_all('span')[-2].getText()
            except Exception as e:
                print(e)
            all_coins[coin_name] = [coin_value.replace('$','')]
        page += 1
        todays_data = pd.DataFrame(all_coins).T.reset_index()
        todays_data.columns = ['coin_name','coin_value']
        todays_data.to_csv('tadays_coin.csv',index=False)
        return todays_data

In [3]:
df = get_data().T

In [4]:
engine = create_engine('postgresql://airflow:airflow@localhost:5432/my_dump')

In [7]:
df.T.to_sql('trial_crypto', engine)

In [8]:
df

        coin_name coin_value
0         Bitcoin  48,434.28
1        Ethereum   4,007.04
2    Binance Coin     557.45
3          Tether     0.9995
4          Solana     168.09
..            ...        ...
95  Oasis Network      58.93
96    OMG Network      58.93
97    XDC Network      58.93
98           Ankr      58.93
99         Audius      58.93

[100 rows x 2 columns]